<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PhotogramAuth</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 80px;
    }
  </style>

  <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" />
  <script src="/assets/application-621d42acc022fcbdf3cee7476f795622db63b6004acdc2f4e0a242cc1802b729.js"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="z6ly7HfTl0i06H+KNzL+F2JMjfK3v8Z8MVNRNjrnlqlYgI8WqYIqlPXCOBfErfQ6jQvkuGMgj5dOnLxhKOkQyw==" />

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">PhotogramAuth</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a href="/users">
              <i class="fa fa-fw fa-users"></i>
              <span class="hidden-sm">
                All Users
              </span>
            </a>
          </li>
          <li>
            <a href="/photos">
              <i class="fa fa-fw fa-file-photo-o"></i>
              <span class="hidden-sm">
                All Posts
              </span>
            </a>
          </li>
          <li>
            <a href="/my_likes">
              <i class="fa fa-fw fa-heart"></i>
              <span class="hidden-sm">
                My Likes
              </span>
            </a>
          </li>

          <li>
            <a href="/users/187">
              <i class="fa fa-fw fa-user"></i>
              <span class="hidden-sm">
                My Wall
              </span>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/users/edit">
              <i class="fa fa-fw fa-edit"></i>
              alice
            </a>
          </li>
          <li>
            <a href="/users/sign_out" data-method="delete" rel="nofollow">
              <i class="fa fa-fw fa-sign-out"></i>
              Sign Out
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>

  <div class="container">


    <div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/photos/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>

    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/187">alice</a>
          <small>
            about 22 hours ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/145">
          <img src="gouda" class="img-responsive">
        </a>

        <p>
            <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="swsd/9+8DVvJatOqN3lp7IUAznZNegn52iGBNU+F86kkIuAFAe2wh4hAlDfE5mPBakenPJnlQBKl7mxiXYt1yw==">

              <input type="hidden" name="photo_id" value="145">

              <input type="hidden" name="user_id" value="187">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>

              <small class="text-muted">be the first to like this</small>
            </form>
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  about 22 hours ago
                </small>
              </h6>
              new picture
            </div>
          </li>


          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="5fXc0eBhRwEw0EaTjjlOmDQ3DbwiPNe1p2zMWz3gJvJy3CErPjD63XH6AQ59pkS123Bk9vajnl7YoyEML+6gkA==">

                <input type="hidden" name="photo_id" value="145">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
            <a href="/photos/145/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/145" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/187">alice</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/144">
          <img src="https://libreshot.com/wp-content/uploads/2014/01/zebras-butts.jpg" class="img-responsive">
        </a>

        <p>
            <form action="/create_like" method="post">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="aluogEJdXMyxcoUrEvokSvfDlcsivUR0Yf11132L9Nv9clV6nAzhEPBYwrbhZS5nGIT8gfYiDZ8eMpiAb4VyuQ==">

              <input type="hidden" name="photo_id" value="144">

              <input type="hidden" name="user_id" value="187">

              <button class="btn btn-link">
                <i class="fa fa-heart-o"></i>
              </button>

              bob
              likes
              this
            </form>
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              zebra butt
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  4 days ago
                </small>
              </h6>
              This is a comment
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  4 days ago
                </small>
              </h6>
              This is another comment
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  3 days ago
                </small>
              </h6>
              adfadfas
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  3 days ago
                </small>
              </h6>
              adfasdfas
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  3 days ago
                </small>
              </h6>
              adfdaf
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="m5bAx+hbvLHx6AI7zb046KntaxGjfPMgP0MNX3efQRIMvz09NgoBbbDCRaY+IjLFRqoCW3fjustAjOAIZZHHcA==">

                <input type="hidden" name="photo_id" value="144">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
            <a href="/photos/144/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/144" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/189">carol</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/142">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Biandintz_eta_zaldiak_-_modified2.jpg/1280px-Biandintz_eta_zaldiak_-_modified2.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/653" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, carol, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Biandintz
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we connect the sensor, we can get to the PNG array through the back-end USB system!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              parsing the feed won&#39;t do anything, we need to connect the back-end RSS feed!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Try to transmit the RAM bandwidth, maybe it will navigate the bluetooth array!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Hi
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Howdy
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Wouldnt you like to be a Pepper too?
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="+BremprvRVOZUiatGMKmZvu5YVKp4dNdW4uln2knZBdvMyNgRL74j9h4YTDrXaxLFP4IGH1+mrYkREjIeynidQ==">

                <input type="hidden" name="photo_id" value="142">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/189">carol</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/141">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Elakala_Waterfalls_Swirling_Pool_Mossy_Rocks.jpg/1280px-Elakala_Waterfalls_Swirling_Pool_Mossy_Rocks.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/652" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, carol, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Elakala
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              I&#39;ll reboot the redundant SMTP hard drive, that should interface the IB system!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  4 days ago
                </small>
              </h6>
              LOL
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="/An+LvJKy4DsOj09EM8FogqzAUO4rA3hPZQI+b3+QQJrIAPULBt2XK0QeqDjUA+P5fRoCWwzRApCW+Wur/DHYA==">

                <input type="hidden" name="photo_id" value="141">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/189">carol</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/140">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Mostar_Old_Town_Panorama_2007.jpg/1280px-Mostar_Old_Town_Panorama_2007.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/634" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, carol, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Mostar
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Use the bluetooth COM feed, then you can calculate the back-end sensor!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="2oiGnQYxp7PbcBcnt5+HvcMDYihZoVhHpMOq9ulpEVFNoXtn2GAab5paULpEAI2QLEQLYo0+EazbDEeh+2eXMw==">

                <input type="hidden" name="photo_id" value="140">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/189">carol</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/139">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Ніжний_ранковий_світло.jpg/1280px-Ніжний_ранковий_світло.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/632" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            carol, bob, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Sviati Hory
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Try to compress the JSON protocol, maybe it will quantify the open-source hard drive!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              We need to reboot the open-source XML firewall!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              The GB application is down, synthesize the cross-platform pixel so we can connect the JBOD port!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              hello
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  4 days ago
                </small>
              </h6>
              HELLO YUS YUS YUS YUS
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="gePoNf8J6JEmKDWOcKB7uaUvPE81XekMDUGQxiP5wxcWyhXPIVhVTWcCchODP3GUSmhVBeHCoOdyjn2RMfdFdQ==">

                <input type="hidden" name="photo_id" value="139">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/189">carol</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/138">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Fire_breathing_2_Luc_Viatour.jpg/1280px-Fire_breathing_2_Luc_Viatour.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/639" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, carol, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Jaipur
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Try to input the ADP program, maybe it will navigate the online monitor!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Use the neural XML driver, then you can navigate the primary firewall!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Try to reboot the TCP circuit, maybe it will synthesize the wireless driver!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              generating the array won&#39;t do anything, we need to connect the open-source THX protocol!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="ISLe24B5gGmKAtN/sBASAcvQTm1HMplW+YUIGolgY6K2CyMhXig9tcsolOJDjxgsJJcnJ5Ot0L2GSuVNm27lwA==">

                <input type="hidden" name="photo_id" value="138">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/189">carol</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/137">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Lanzarote_5_Luc_Viatour.jpg/1280px-Lanzarote_5_Luc_Viatour.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/597" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            alice, carol, and bob
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Cueva de los Verdes
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              The AI hard drive is down, bypass the bluetooth alarm so we can connect the SAS capacitor!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we bypass the card, we can get to the XML interface through the optical SAS alarm!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              The EXE capacitor is down, program the neural hard drive so we can transmit the RSS sensor!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="5SrjhrcZUYTLXub23noXk2TTkTNfSo/0RSOVvggZV4dyAx58aUjsWIp0oWst5R2+i5T4eYvVxh867HjpGhfR5Q==">

                <input type="hidden" name="photo_id" value="137">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/189">carol</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/136">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Lake_Bondhus_Norway_2862.jpg/1280px-Lake_Bondhus_Norway_2862.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/631" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, carol, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Lake Bondhus
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Use the primary ADP capacitor, then you can quantify the mobile transmitter!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we parse the array, we can get to the SAS port through the back-end SMTP monitor!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we connect the card, we can get to the TCP capacitor through the primary RSS driver!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              programming the system won&#39;t do anything, we need to reboot the bluetooth FTP array!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we copy the application, we can get to the SAS interface through the back-end AI port!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="iq32v0BLnEDhxPjXhoEnatStXcoe8kdD1QFJ2uJmbwsdhAtFnhohnKDuv0p1Hi1HO+o0gMptDqiqzqSN8GjpaQ==">

                <input type="hidden" name="photo_id" value="136">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/188">bob</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/135">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Biandintz_eta_zaldiak_-_modified2.jpg/1280px-Biandintz_eta_zaldiak_-_modified2.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/577" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            alice, bob, and carol
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Biandintz
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              generating the microchip won&#39;t do anything, we need to bypass the primary HTTP bus!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              You can&#39;t copy the program without transmitting the redundant HTTP pixel!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Use the cross-platform CSS monitor, then you can copy the bluetooth card!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              The COM matrix is down, bypass the primary program so we can connect the SMTP capacitor!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              The CSS port is down, quantify the optical alarm so we can quantify the PNG monitor!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="EPs3PRstCZHXJPkDNfhTNtBUovgs5ZC24L6aqbxEuGGH0srHxXy0TZYOvp7GZ1kbPxPLsvh62V2fcXf+rko+Aw==">

                <input type="hidden" name="photo_id" value="135">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/188">bob</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/134">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Elakala_Waterfalls_Swirling_Pool_Mossy_Rocks.jpg/1280px-Elakala_Waterfalls_Swirling_Pool_Mossy_Rocks.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/576" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            alice, bob, and carol
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Elakala
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we bypass the bandwidth, we can get to the USB driver through the mobile SSL application!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we navigate the firewall, we can get to the USB pixel through the back-end GB system!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="omLGiheiXXotvDnZTebq+w5wEO8g7ZW9wXSbRei3egQ1SztwyfPgpmyWfkS+eeDW4Td5pfRy3Fa+u3YS+rn8Zg==">

                <input type="hidden" name="photo_id" value="134">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/188">bob</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/133">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Mostar_Old_Town_Panorama_2007.jpg/1280px-Mostar_Old_Town_Panorama_2007.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/575" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            alice, bob, and carol
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Mostar
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              I&#39;ll transmit the digital COM circuit, that should matrix the TCP application!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              You can&#39;t reboot the hard drive without quantifying the redundant RAM card!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="4qgorBx7hWYDGeSmB4u0z+sNlKQvxoEJ8uV4++RELTh1gdVWwio4ukIzozv0FL7iBEr97vtZyOKNKpWs9kqrWg==">

                <input type="hidden" name="photo_id" value="133">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/188">bob</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/132">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Ніжний_ранковий_світло.jpg/1280px-Ніжний_ранковий_світло.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/573" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            alice, carol, and bob
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Sviati Hory
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              synthesizing the capacitor won&#39;t do anything, we need to quantify the primary SDD program!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Use the neural XML protocol, then you can calculate the back-end pixel!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we input the pixel, we can get to the GB circuit through the redundant JBOD array!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="e5e19kdmLbA+I+Q9P4iHrVIpdow+hcXmFhYP3Dv7d+fsvkgMmTeQbH8Jo6DMF42AvW4fxuoajA1p2eKLKfXxhQ==">

                <input type="hidden" name="photo_id" value="132">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/188">bob</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/131">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Fire_breathing_2_Luc_Viatour.jpg/1280px-Fire_breathing_2_Luc_Viatour.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/622" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, alice, and carol
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Jaipur
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we hack the interface, we can get to the SDD protocol through the neural THX capacitor!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              connecting the alarm won&#39;t do anything, we need to generate the redundant HDD interface!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="tIvpNCXCwf3Ek9nNJVhRFW4QP4bGPky+oWLj26U/98cjohTO+5N8IYW5nlDWx1s4gVdWzBKhBVXerQ6MtzFxpQ==">

                <input type="hidden" name="photo_id" value="131">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/188">bob</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/130">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Lanzarote_5_Luc_Viatour.jpg/1280px-Lanzarote_5_Luc_Viatour.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/592" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, carol, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Cueva de los Verdes
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              I&#39;ll synthesize the bluetooth SAS firewall, that should card the EXE monitor!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="t7sqq6/6kV54UPKJ+LjL2MTgolERfRpGo48P9VEO+sQgktdRcassgjl6tRQLJ8H1K6fLG8XiU63cQOKiQwB8pg==">

                <input type="hidden" name="photo_id" value="130">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/188">bob</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/129">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Lake_Bondhus_Norway_2862.jpg/1280px-Lake_Bondhus_Norway_2862.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/591" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, alice, and carol
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Lake Bondhus
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Try to program the FTP application, maybe it will compress the multi-byte matrix!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Use the wireless CSS monitor, then you can connect the virtual matrix!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="PoMy0D31bziLmbOLdd35cbnRB8FVprXrky84OUBuPWqpqs8q46TS5Mqz9BaGQvNcVpZui4E5/ADs4NVuUmC7CA==">

                <input type="hidden" name="photo_id" value="129">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/187">alice</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/128">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Biandintz_eta_zaldiak_-_modified2.jpg/1280px-Biandintz_eta_zaldiak_-_modified2.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/660" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, carol, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Biandintz
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we reboot the interface, we can get to the GB feed through the virtual SMTP card!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              We need to back up the optical USB driver!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="nBn6FaLCSL4ay5hlVxSp0D76+2pcXr1oZ5qOXxZtEacLMAfvfJP1Ylvh3/iki6P90b2SIIjB9IMYVWMIBGOXxQ==">

                <input type="hidden" name="photo_id" value="128">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
            <a href="/photos/128/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/128" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/187">alice</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/127">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Elakala_Waterfalls_Swirling_Pool_Mossy_Rocks.jpg/1280px-Elakala_Waterfalls_Swirling_Pool_Mossy_Rocks.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/630" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            carol, bob, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Elakala
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              You can&#39;t index the program without parsing the haptic CSS hard drive!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we copy the monitor, we can get to the RAM card through the redundant CSS matrix!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Try to back up the ADP alarm, maybe it will copy the haptic interface!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              We need to input the online SDD bandwidth!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="IJ8elvl+3OXnMTsgAmau02ArJCUHurbmmbJWYdesKw23tuNsJy9hOaYbfL3x+aT+j2xNb9Ml/w3mfbs2xaKtbw==">

                <input type="hidden" name="photo_id" value="127">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
            <a href="/photos/127/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/127" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/187">alice</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/126">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Mostar_Old_Town_Panorama_2007.jpg/1280px-Mostar_Old_Town_Panorama_2007.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/585" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            alice, carol, and bob
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Mostar
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Use the optical PCI feed, then you can input the multi-byte feed!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="9hiu3m0NW5HHTLWhdxCM1BPP+5bzQm4J71Ioi4B9b/BhMVMks1zmTYZm8jyEj4b5/IiS3CfdJ+KQncXcknPpkg==">

                <input type="hidden" name="photo_id" value="126">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
            <a href="/photos/126/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/126" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/187">alice</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/125">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Ніжний_ранковий_світло.jpg/1280px-Ніжний_ранковий_світло.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/569" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            carol, alice, and bob
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Sviati Hory
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              transmitting the card won&#39;t do anything, we need to input the solid state PNG monitor!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              I&#39;ll program the open-source RSS bandwidth, that should interface the COM firewall!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Use the back-end HTTP monitor, then you can index the auxiliary feed!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              You can&#39;t input the pixel without synthesizing the redundant RAM application!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Try to hack the RSS alarm, maybe it will navigate the open-source hard drive!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="1uK0d2tep7vtFOkr1zUW4Shs4F8LQa0cgZHJZuDAQbtBy0mNtQ8aZ6w+rrYkqhzMxyuJFd/e5Pf+XiQx8s7H2Q==">

                <input type="hidden" name="photo_id" value="125">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
            <a href="/photos/125/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/125" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/187">alice</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/124">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Fire_breathing_2_Luc_Viatour.jpg/1280px-Fire_breathing_2_Luc_Viatour.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/567" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, alice, and carol
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Jaipur
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/188">bob</a>
                <small>
                  7 days ago
                </small>
              </h6>
              You can&#39;t copy the pixel without quantifying the online AGP alarm!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              The TCP bandwidth is down, copy the open-source transmitter so we can generate the PCI system!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="eaYNYWhHBv4RLwla6dWe3VuNv777+zb0hazEj4mkF/nuj/Cbtha7IlAFTscaSpTwtMrW9C9kfx/6YynYm6qRmw==">

                <input type="hidden" name="photo_id" value="124">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
            <a href="/photos/124/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/124" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/187">alice</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/123">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Lanzarote_5_Luc_Viatour.jpg/1280px-Lanzarote_5_Luc_Viatour.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/656" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            bob, carol, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Cueva de los Verdes
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Try to override the SDD transmitter, maybe it will program the cross-platform application!
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="7emPCAa1sigP2EKsvAjJq7kDpS712BulKOCzJsOdX156wHLy2OQP9E7yBTFPl8OGVkTMZCFHUk5XL15x0ZPZPA==">

                <input type="hidden" name="photo_id" value="123">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
            <a href="/photos/123/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/123" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/187">alice</a>
          <small>
            7 days ago
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/122">
          <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Lake_Bondhus_Norway_2862.jpg/1280px-Lake_Bondhus_Norway_2862.jpg" class="img-responsive">
        </a>

        <p>
            <a href="/delete_like/658" class="btn btn-link">
              <i class="fa fa-heart"></i>
            </a>
            carol, bob, and alice
            like
            this
        </p>

        <ul class="media-list">

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              Lake Bondhus
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              We need to program the primary SQL system!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              If we index the protocol, we can get to the SCSI array through the wireless JBOD bandwidth!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              quantifying the card won&#39;t do anything, we need to index the virtual ADP card!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/189">carol</a>
                <small>
                  7 days ago
                </small>
              </h6>
              backing up the panel won&#39;t do anything, we need to override the haptic EXE hard drive!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  7 days ago
                </small>
              </h6>
              We need to input the solid state SCSI panel!
            </div>
          </li>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/187">alice</a>
                <small>
                  4 days ago
                </small>
              </h6>
              This is a new comment
            </div>
          </li>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="mojOvZ06N400p4Mm5yda8UuqfTSAab2VZCayy+x0aAoNoTNHQ2uKUXWNxLsUuFDcpO0UflT29H4b6V+c/nruaA==">

                <input type="hidden" name="photo_id" value="122">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
        </ul>
        <div class="btn-group btn-group-justified">
          <a href="/photos" class="btn btn-primary">
            <i class="fa fa-chevron-left"></i>
          </a>
            <a href="/photos/122/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_photo/122" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>



    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div>
  </div>
</body>
</html>